<h1>Reserva de Viatges</h1>

<section>
  
  <h2>Cerca de Destinacions</h2>

  <label for="search">Filtrar destinacions</label>

  <input id="search" type="text" [formControl]="searchControl" placeholder="Escriu per filtrar..." >

  @if (filteredDestinations.length === 0) {
    <p class="no-results">No s'han trobat resultats</p>
  }

</section>

<form [formGroup]="bookingForm" (ngSubmit)="onSubmit()" >

  <section>

    <h2>Dades del Client</h2>

    <label for="name">Nom Complet</label>

    <input id="name" type="text" formControlName="fullName"
      [ngClass]="{
        'valid': bookingForm.get('fullName')?.valid && bookingForm.get('fullName')?.touched,
        'invalid': isFieldInvalid('fullName')
      }">

    @if (isFieldInvalid('fullName')) {

      <span class="error">
        {{ getErrorMessage('fullName') }}
      </span>
    }
    
    <label for="dni">DNI / NIE</label>

    <input id="dni" type="text" formControlName="dni"
      [ngClass]="{
        'valid': bookingForm.get('dni')?.valid && bookingForm.get('dni')?.touched,
        'invalid': isFieldInvalid('dni')
      }">

    @if (isFieldInvalid('dni')) {
      <span class="error">{{ getErrorMessage('dni') }}</span>
    }
    
    <label for="email">Email</label>

    <input id="email" type="email" formControlName="email" 
      [ngClass]="{
        'valid': bookingForm.get('email')?.valid && bookingForm.get('email')?.touched,
        'invalid': isFieldInvalid('email')
      }">

    @if (emailValidating) {
      
      <span class="validating">Comprovant...</span>
    }

    @if (isFieldInvalid('email')) {
      <span class="error">{{ getErrorMessage('email') }}</span>
    }
    
    <label for="phone">Telèfon</label>

    <input
      id="phone"
      type="text"
      formControlName="phone"
      [ngClass]="{
        'valid': bookingForm.get('phone')?.valid && bookingForm.get('phone')?.touched,
        'invalid': isFieldInvalid('phone')
      }"
    >

    @if (isFieldInvalid('phone')) {
      <span class="error">{{ getErrorMessage('phone') }}</span>
    }

    
    <label for="birth">Data de Naixement</label>
    <input id="birth" type="date" formControlName="birthDate"
      [ngClass]="{
        'valid': bookingForm.get('birthDate')?.valid && bookingForm.get('birthDate')?.touched,
        'invalid': isFieldInvalid('birthDate')
      }">

    @if (isFieldInvalid('birthDate')) {
      <span class="error">{{ getErrorMessage('birthDate') }}</span>
    }

  </section>

  <section>

    <h2>Informació del Viatge</h2>
    
    <label>Destinació</label>

    <select formControlName="destination"
      [ngClass]="{
        'valid': bookingForm.get('destination')?.valid && bookingForm.get('destination')?.touched,
        'invalid': isFieldInvalid('destination')
      }">
      
      <option value="">Selecciona una destinació</option>

      @for (d of filteredDestinations; track d) { 
        <option [value]="d">
          {{ d }} <!-- muestra nombre destino -->
        </option>
      }

    </select>

    @if (isFieldInvalid('destination')) {
      <span class="error">{{ getErrorMessage('destination') }}</span>
    }
    
    <label>Data de Sortida</label>

    <input
      type="date"
      formControlName="departureDate"
      [ngClass]="{
        'valid': bookingForm.get('departureDate')?.valid && bookingForm.get('departureDate')?.touched,
        'invalid': isFieldInvalid('departureDate')
      }"
    >

    @if (isFieldInvalid('departureDate')) {
      <span class="error">{{ getErrorMessage('departureDate') }}</span>
    }

    <label>Data de Retorn</label>

    <input
      type="date"
      formControlName="returnDate"
      [ngClass]="{
        'valid': bookingForm.get('returnDate')?.valid && bookingForm.get('returnDate')?.touched,
        'invalid': isFieldInvalid('returnDate')
      }"
    >

    @if (isFieldInvalid('returnDate')) {
      <span class="error">{{ getErrorMessage('returnDate') }}</span>
    }

    
    <label>Tipus de Viatge</label>

    <!-- div: contenedor genérico -->
    <div>
      
      <input type="radio" value="oneWay" formControlName="tripType">
      Només anada

      <input
        type="radio"
        value="roundTrip"
        formControlName="tripType"
      >
      Anada i tornada

    </div>

    @if (isFieldInvalid('tripType')) {
      <span class="error">{{ getErrorMessage('tripType') }}</span>
    }
    
    <label>Classe</label>

    <select
      formControlName="travelClass"
      [ngClass]="{
        'valid': bookingForm.get('travelClass')?.valid && bookingForm.get('travelClass')?.touched,
        'invalid': isFieldInvalid('travelClass')
      }">
      <option value="">Selecciona classe</option>
      <option>Turista</option>
      <option>Business</option>
      <option>Primera classe</option>
    </select>

    @if (isFieldInvalid('travelClass')) {
      <span class="error">{{ getErrorMessage('travelClass') }}</span>
    }
    
    <label>Nombre de Passatgers</label>
    <input
      type="number" formControlName="passengers"
      [ngClass]="{
        'valid': bookingForm.get('passengers')?.valid && bookingForm.get('passengers')?.touched,
        'invalid': isFieldInvalid('passengers')
      }">

    @if (isFieldInvalid('passengers')) {
      <span class="error">{{ getErrorMessage('passengers') }}</span>
    }

  </section>

  @if (additionalPassengers.length > 0) {
    <section>
      <h2>Passatgers Addicionals</h2>

      @for (passenger of additionalPassengersGroups; track $index) {
        <div class="passenger-group" [formGroup]="passenger">
          
          <h3>Passatger {{ $index + 2 }}</h3>
          <label>Nom</label>
          <input type="text"formControlName="name">
          
          @if (passenger.get('name')?.invalid && passenger.get('name')?.touched) {
            <span class="error">Nom obligatori (mínim 3 caràcters)</span>
          }
          
          <label>Edat</label>
          
          <input
            type="number"
            formControlName="age"
          >
          
          @if (passenger.get('age')?.invalid && passenger.get('age')?.touched) {
            <span class="error">Edat obligatòria (0-120)</span>
          }
          
          <label>Relació amb el titular</label>
          
          <select formControlName="relationship">
            <option value="">Selecciona</option>
            <option value="familia">Família</option>
            <option value="amic">Amic/ga</option>
            <option value="company">Company/a</option>
            <option value="altre">Altre</option>
          </select>
          
          @if (passenger.get('relationship')?.invalid && passenger.get('relationship')?.touched) {
            <span class="error">Relació obligatòria</span>
          }

        </div>
      }

    </section>
  }
  @if (totalPrice > 0) {
    <section>
      <h2>Preu Total</h2>
      <p class="total-price">
        {{ totalPrice }}€
      </p>
    </section>
  }

  <section>

    <h2>Condicions</h2>
    <label>
      <input type="checkbox" formControlName="terms">
      Accepto termes i condicions
    </label>

    @if (isFieldInvalid('terms')) {
      <span class="error">{{ getErrorMessage('terms') }}</span>
    }
    
    <label>
      <input type="checkbox" formControlName="newsletter">
      Vull rebre newsletter
    </label>

  </section>
  <button type="submit" [disabled]="!bookingForm.valid">
    Enviar Reserva
  </button>

</form>